apiVersion: apps/v1
kind: Deployment
metadata:
  name: live-agent-api
spec:
  selector:
    matchLabels:
      app: live-agent-api
  replicas: 1
  template:
    metadata:
      labels:
        app: live-agent-api
    spec:
      containers:
        - name: live-agent-api
          image: docker.cognigy.com:5000/live-agent-api:f3f09ef10c536be1791a0401557ad1addbad0a98
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          envFrom:
            - configMapRef:
                name: live-agent-env
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: live-agent-jwt
                  key: secret
          volumeMounts:
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: mongodb-connection-string
          secret:
            secretName: live-agent-api
            items:
              - key: connection-string
                path: mongodbConnectionString
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
      imagePullSecrets:
        - name: cognigy-registry-token