apiVersion: apps/v1
kind: Deployment
metadata:
  name: live-agent-ui
spec:
  selector:
    matchLabels:
      app: live-agent-ui
  replicas: 1
  template:
    metadata:
      labels:
        app: live-agent-ui
    spec:
      containers:
        - name: live-agent-ui
          image: 'office-docker.cognigy.com:5000/live-agent-ui:8eb9f49645b97369f6a1259dd7a219d7cad7d9a1'
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          envFrom:
            - configMapRef:
                name: live-agent-env
      imagePullSecrets:
        - name: cognigy-registry-token