# ignore everything except certain folders in 'core'
core/*
!core/cloudproviders
!core/customer.dist
!core/manifests
!core/make_environment.sh

dbinit.js

core/volume-claims/cognigy-repo.yaml
core/local-deployments

# do not track the "initializatin" binary
initialization