core/secrets/
core/volumes/
core/reverse-proxy/

monitoring/secrets/
monitoring/volumes/

monitoring-v3/service-monitoring/secrets
monitoring-v3/grafana/secrets

node_modules/
dbinit.js

core/volume-claims/cognigy-repo.yaml
core/local-deployments

# do not track the "initializatin" binary
initialization