# ignore everything except certain folders in 'core'
core/*
!core/cloudproviders
!core/template.dist
!core/manifests
!core/make_environment.sh

# ignore everything except certain folders in 'management-ui'
management-ui/*
!management-ui/manifests
!management-ui/template.dist
!management-ui/make.sh

dbinit.js

core/volume-claims/cognigy-repo.yaml
core/local-deployments

# do not track the "initializatin" binary
initialization