apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-nlp-train-xx
spec:
  selector:
    matchLabels:
      app: service-nlp-train-xx
  replicas: 1
  template:
    metadata:
      labels:
        app: service-nlp-train-xx
    spec:
      containers:
        - name: service-nlp-train-xx
          image: docker.cognigy.com:5000/service-nlp:6ad343754ce3337b21716bd6c219756fa964a764
          resources:
            requests:
              cpu: '0.350'
              memory: 800M
            limits:
              cpu: '1'
              memory: 2500M
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: local
              mountPath: /data/local
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
          livenessProbe:
            httpGet:
              path: /
              port: 8001
            failureThreshold: 1
            initialDelaySeconds: 120
            periodSeconds: 60
            timeoutSeconds: 60
          envFrom:
            - configMapRef:
                name: cognigy-env
          env:
            - name: LANGUAGES_TO_RUN
              value: ar-AE,es-ES,fr-FR,nl-NL,it-IT,pl-PL,pt-PT,pt-BR,th-TH,ru-RU,tr-TR,zh-CN
            - name: TRAIN
              value: 'true'
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: mongodb-connection-string
          secret:
            secretName: cognigy-service-nlp
            items:
              - key: connection-string
                path: mongodbConnectionString
        - name: local
          emptyDir: {}
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
      imagePullSecrets:
        - name: cognigy-registry-token
