apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-function-execution
spec:
  selector:
    matchLabels:
      app: service-function-execution
  replicas: 1
  template:
    metadata:
      labels:
        app: service-function-execution
    spec:
      containers:
        - name: service-function-execution
          image: cognigy.azurecr.io/service-function-execution:315455af8a9ed8529c1bdc6820b9e4c3f4e4dce6
          resources:
            requests:
              cpu: '1'
              memory: 512M
            limits:
              cpu: '2'
              memory: 512M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: functions
              mountPath: /app/functions
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: functions
          persistentVolumeClaim:
            claimName: functions
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
      imagePullSecrets:
        - name: cognigy-registry-token
