apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-analytics-collector
spec:
  selector:
    matchLabels:
      app: service-analytics-collector
  replicas: 1
  template:
    metadata:
      labels:
        app: service-analytics-collector
    spec:
      containers:
        - name: service-analytics-collector
          image: 'docker.cognigy.com:5000/service-analytics-collector:77192f189c27bf30ce4b801ffadc273f3654a864'
          resources:
            requests:
              cpu: '0.300'
              memory: 160M
            limits:
              cpu: '0.300'
              memory: 200M
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: mongodb-connection-string
          secret:
            secretName: cognigy-service-analytics-collector-provider
            items:
              - key: connection-string
                path: mongodbConnectionString
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
      imagePullSecrets:
        - name: cognigy-registry-token
