apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-http
spec:
  selector:
    matchLabels:
      app: service-http
  replicas: 1
  template:
    metadata:
      labels:
        app: service-http
    spec:
      containers:
        - name: service-http
          image: 'cognigydevelopment.azurecr.io/service-http:0409a9030eafb0267fb25bd334d1a116b2437eec'
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
      imagePullSecrets:
        - name: cognigy-registry-token
