apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-function-execution
spec:
  selector:
    matchLabels:
      app: service-function-execution
  replicas: 1
  template:
    metadata:
      labels:
        app: service-function-execution
    spec:
      containers:
        - name: service-function-execution
          image: 'cognigydevelopment.azurecr.io/service-function-execution:73bdda8027d63ea86d064d2d22a098fea49c3b8e'
          resources:
            requests:
              cpu: '1'
              memory: 512M
            limits:
              cpu: '2'
              memory: 512M
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: functions
              mountPath: /app/functions
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: functions
          persistentVolumeClaim:
            claimName: functions
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
      imagePullSecrets:
        - name: cognigy-registry-token
