apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-endpoint
spec:
  selector:
    matchLabels:
      app: service-endpoint
  replicas: 1
  template:
    metadata:
      labels:
        app: service-endpoint
    spec:
      containers:
        - name: service-endpoint
          image: cognigy.azurecr.io/service-endpoint:af0abe9de00e9d7a77603222093b7bc0ee29d9de
          resources:
            requests:
              cpu: '0.2'
              memory: 120M
            limits:
              cpu: '0.2'
              memory: 150M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          env:
            - name: FB_VERIFY_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cognigy-facebook
                  key: fb-verify-token
            - name: RCE_VERIFY_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cognigy-rce-credentials
                  key: rce-verify-token
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cognigy-jwt
                  key: secret
          volumeMounts:
            - name: redis-persistent-password
              mountPath: /var/run/secrets/redis-persistent-password.conf
              subPath: redis-persistent-password.conf
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
          startupProbe:
            httpGet:
              path: /health/startup
              port: 8001
          livenessProbe:
            httpGet:
              path: /health/liveness
              port: 8001
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: redis-persistent-password
          secret:
            secretName: cognigy-redis-persistent-password
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
      imagePullSecrets:
        - name: cognigy-registry-token
