apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-api
spec:
  selector:
    matchLabels:
      app: service-api
  replicas: 1
  template:
    metadata:
      labels:
        app: service-api
    spec:
      containers:
        - name: service-api
          image: docker.cognigy.com:5000/service-api:3549d6a1f2293e542feeba19c2fc7ded62f915cd
          resources:
            requests:
              cpu: '0.2'
              memory: 280M
            limits:
              cpu: '0.2'
              memory: 350M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cognigy-jwt
                  key: secret
            - name: AMAZON_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cognigy-amazon-credentials
                  key: amazon-client-id
            - name: AMAZON_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cognigy-amazon-credentials
                  key: amazon-client-secret
            - name: SYSTEM_SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cognigy-smtp
                  key: system-smtp-password
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
            - name: redis-persistent-password
              mountPath: /var/run/secrets/redis-persistent-password.conf
              subPath: redis-persistent-password.conf
            - name: management-ui-creds
              mountPath: /var/run/secrets/management-ui-creds.json
              subPath: management-ui-creds.json
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: mongodb-connection-string
          secret:
            secretName: cognigy-service-api
            items:
              - key: connection-string
                path: mongodbConnectionString
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
        - name: redis-persistent-password
          secret:
            secretName: cognigy-redis-persistent-password
        - name: management-ui-creds
          secret:
            secretName: cognigy-management-ui-creds
      imagePullSecrets:
        - name: cognigy-registry-token
