apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-http
spec:
  selector:
    matchLabels:
      app: service-http
  replicas: 1
  template:
    metadata:
      labels:
        app: service-http
    spec:
      containers:
        - name: service-http
          image: docker.cognigy.com:5000/service-http:734ebd1178ba6e53cc7b6e8156858aff36a685e3
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
      imagePullSecrets:
        - name: cognigy-registry-token
