apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-alexa-management
spec:
  selector:
    matchLabels:
      app: service-alexa-management
  replicas: 1
  template:
    metadata:
      labels:
        app: service-alexa-management
    spec:
      containers:
        - name: service-alexa-management
          image: cognigy.azurecr.io/service-alexa-management:af0abe9de00e9d7a77603222093b7bc0ee29d9de
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          env:
            - name: AMAZON_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cognigy-amazon-credentials
                  key: amazon-client-id
            - name: AMAZON_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cognigy-amazon-credentials
                  key: amazon-client-secret
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: mongodb-connection-string
          secret:
            secretName: cognigy-service-analytics-collector-provider
            items:
              - key: connection-string
                path: mongodbConnectionString
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
      imagePullSecrets:
        - name: cognigy-registry-token
