apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-nlp-matcher
spec:
  selector:
    matchLabels:
      app: service-nlp-matcher
  replicas: 1
  template:
    metadata:
      labels:
        app: service-nlp-matcher
    spec:
      containers:
        - name: service-nlp-matcher
          image: cognigydevelopment.azurecr.io/service-nlp-matcher:7366670d19b3fd5141d6fc5e3e1510b4c061402d
          resources:
            requests:
              cpu: '0.2'
              memory: 300M
            limits:
              cpu: '0.5'
              memory: 500M
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: redis-persistent-password
              mountPath: /var/run/secrets/redis-persistent-password.conf
              subPath: redis-persistent-password.conf
          livenessProbe:
            httpGet:
              path: /
              port: 8001
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 30
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: mongodb-connection-string
          secret:
            secretName: cognigy-service-resources
            items:
              - key: connection-string
                path: mongodbConnectionString
        - name: redis-persistent-password
          secret:
            secretName: cognigy-redis-persistent-password
      imagePullSecrets:
        - name: cognigy-registry-token
