apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-ai
spec:
  selector:
    matchLabels:
      app: service-ai
  replicas: 1
  template:
    metadata:
      labels:
        app: service-ai
    spec:
      containers:
        - name: service-ai
          image: cognigy.azurecr.io/service-ai:1c3f8a640c58b65f1ea63c50a75c1c3872dfd78a
          resources:
            requests:
              cpu: '0.4'
              memory: 400M
            limits:
              cpu: '0.4'
              memory: 500M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: rabbitmq-api-connection-string
              mountPath: /var/run/secrets/rabbitmqAPIConnectionString
              subPath: rabbitmqAPIConnectionString
            - name: redis-persistent-password
              mountPath: /var/run/secrets/redis-persistent-password.conf
              subPath: redis-persistent-password.conf
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
            - name: flow-modules
              mountPath: /app/flowModules
          startupProbe:
            httpGet:
              path: /health/startup
              port: 8001
          livenessProbe:
            httpGet:
              path: /health/liveness
              port: 8001
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: mongodb-connection-string
          secret:
            secretName: cognigy-service-ai
            items:
              - key: connection-string
                path: mongodbConnectionString
        - name: rabbitmq-api-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string-api
                path: rabbitmqAPIConnectionString
        - name: redis-persistent-password
          secret:
            secretName: cognigy-redis-persistent-password
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
        - name: flow-modules
          persistentVolumeClaim:
            claimName: flow-modules
      imagePullSecrets:
        - name: cognigy-registry-token
