apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-webchat
spec:
  selector:
    matchLabels:
      app: service-webchat
  replicas: 1
  template:
    metadata:
      labels:
        app: service-webchat
    spec:
      containers:
        - name: service-webchat
          image: docker.cognigy.com:5000/service-webchat:51862258e0dc4cd1cad0e9867bdba02837781f00
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
          startupProbe:
            httpGet:
              path: /health/startup
              port: 8001
          livenessProbe:
            httpGet:
              path: /health/liveness
              port: 8001
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: redis-persistent-password
          secret:
            secretName: cognigy-redis-persistent-password
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
      imagePullSecrets:
        - name: cognigy-registry-token
