apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-ui
spec:
  selector:
    matchLabels:
      app: service-ui
  replicas: 1
  template:
    metadata:
      labels:
        app: service-ui
    spec:
      containers:
        - name: service-ui
          image: cognigy.azurecr.io/service-ui:315455af8a9ed8529c1bdc6820b9e4c3f4e4dce6
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
      imagePullSecrets:
        - name: cognigy-registry-token
