apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-handover
spec:
  selector:
    matchLabels:
      app: service-handover
  replicas: 1
  template:
    metadata:
      labels:
        app: service-handover
    spec:
      containers:
        - image: cognigy.azurecr.io/service-handover:315455af8a9ed8529c1bdc6820b9e4c3f4e4dce6
          name: service-handover
          resources:
            requests:
              cpu: '0.1'
              memory: 60M
            limits:
              cpu: '0.1'
              memory: 75M
          ports:
            - name: metrics
              containerPort: 8002
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: mongodb-connection-string
              mountPath: /var/run/secrets/mongodbConnectionString
              subPath: mongodbConnectionString
            - name: redis-password
              mountPath: /var/run/secrets/redis-password.conf
              subPath: redis-password.conf
          envFrom:
            - configMapRef:
                name: cognigy-env
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: redis-password
          secret:
            secretName: cognigy-redis-password
        - name: mongodb-connection-string
          secret:
            secretName: cognigy-service-handover
            items:
              - key: connection-string
                path: mongodbConnectionString
      imagePullSecrets:
        - name: cognigy-registry-token
