apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-nlp-ner
spec:
  selector:
    matchLabels:
      app: service-nlp-ner
  replicas: 1
  template:
    metadata:
      labels:
        app: service-nlp-ner
    spec:
      containers:
        - name: service-nlp-ner
          image: cognigy.azurecr.io/service-nlp-ner:95f7c4786d0a928d2041fb7ee477ce866280e637
          resources:
            requests:
              cpu: '0.3'
              memory: 100M
            limits:
              cpu: '1.0'
              memory: 150M
          ports:
            - name: metrics
              containerPort: 8002
          envFrom:
            - configMapRef:
                name: cognigy-env
          volumeMounts:
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets/rabbitmqConnectionString
              subPath: rabbitmqConnectionString
            - name: rabbitmq-api-connection-string
              mountPath: /var/run/secrets/rabbitmqAPIConnectionString
              subPath: rabbitmqAPIConnectionString
          livenessProbe:
            exec:
              command:
                - node
                - /opt/healthcheck.js
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
        - name: rabbitmq-api-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string-api
                path: rabbitmqAPIConnectionString
      imagePullSecrets:
        - name: cognigy-registry-token
