apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-execution
spec:
  selector:
    matchLabels:
      app: service-execution
  replicas: 1
  template:
    metadata:
      labels:
        app: service-execution
    spec:
      containers:
        - name: service-execution
          image: cognigy.azurecr.io/service-execution:315455af8a9ed8529c1bdc6820b9e4c3f4e4dce6
          resources:
            requests:
              cpu: '0.500'
              memory: 240M
            limits:
              cpu: '0.500'
              memory: 300M
          ports:
            - name: metrics
              containerPort: 8002
          volumeMounts:
            - name: flow-modules
              mountPath: /app/flowModules
            - name: rabbitmq-connection-string
              mountPath: /var/run/secrets
          startupProbe:
            httpGet:
              path: /health/startup
              port: 8001
          livenessProbe:
            httpGet:
              path: /health/liveness
              port: 8001
            failureThreshold: 3
            initialDelaySeconds: 90
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
        - name: flow-modules
          persistentVolumeClaim:
            claimName: flow-modules
        - name: rabbitmq-connection-string
          secret:
            secretName: cognigy-rabbitmq
            items:
              - key: connection-string
                path: rabbitmqConnectionString
      imagePullSecrets:
        - name: cognigy-registry-token
